<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/912e7700-a4fc-403b-a992-1a76446dc088/resourceGroups/frontsteps/providers/Microsoft.ContainerRegistry/registries/frontsteps</ResourceId>
    <ResourceName>frontsteps</ResourceName>
    <ResourceGroup>frontsteps</ResourceGroup>
    <Subscription>FRONTSTEPS - PRODUCTION</Subscription>
    <RegistryUrl>https://frontsteps.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>