name: CI

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      config: "Release"

    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET Core 2.1
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 2.1.x

      - name: Setup .NET Core 3.1
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 3.1.x

      - name: Setup .NET Core 6.0
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x

      - name: Setup .NET Core 7.0
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration $config --no-restore

      - name: Test
        run: dotnet test src/NetCoreForce.Client.Tests --configuration $config --no-restore --no-build --verbosity normal
      
      - name: Upload nuget artifact
        uses: actions/upload-artifact@v4
        with:
          name: nuget-package
          path: ${{github.workspace}}/packages/NetCoreForce.*.nupkg
